# Part 1 Notebook for the week 3 Coursera Toronto Assignment
## Steps:
## 1. Install and import
## 2. Scrape the webpage
## 3. Remove records with Borough "not assigned"
## 4. Set "not assigned" Neighborhoods to the name of the Borough
## 5. Combine neighborhoods by Postal Code
## 6. Use the shape command to show the dimensions of the final dataframe

### 1. install libraries for webpage scrape

In [1]:
!conda install -c conda-forge beautifulsoup4 --yes
!conda install -c conda-forge lxml --yes
!conda install -c conda-forge html5lib --yes
!conda install -c conda-forge requests --yes
import pandas as pd
import requests
from bs4 import BeautifulSoup

Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following packages will be UPDATED:

    beautifulsoup4: 4.6.0-py35h442a8c9_1 --> 4.6.3-py35_0 conda-forge

beautifulsoup4 100% |################################| Time: 0:00:00  39.21 MB/s
Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following packages will be UPDATED:

    libxml2: 2.9.4-h6b072ca_5     --> 2.9.8-h422b904_2     conda-forge
    libxslt: 1.1.29-hcf9102b_5    --> 1.1.32-h88dbc4e_2    conda-forge
    lxml:    4.1.0-py35ha401a81_0 --> 4.2.5-py35hc9114bc_0 conda-forge

libxml2-2.9.8- 100% |################################| Time: 0:00:00  75.29 MB/s
libxslt-1.1.32 100% |################################| Time: 0:00:00  67.08 MB/s
lxml-4.2.5-py3 100% |################################| Time: 0:00:00  66.75 MB/s
Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following packages will be UPDATED:

    html5lib: 0.999999999-py35h0543385_0 --> 1.0.1-py_0 conda-forge

html5lib-1.0.1 100% |################################| Time: 0:00:00  34.78 MB/s
Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following packages will be UPDATED:

    requests: 2.18.4-py35hb9e6ad1_1 --> 2.19.1-py35_1 conda-forge

requests-2.19. 100% |################################| Time: 0:00:00  33.98 MB/s

### 2. Scrape the webpage using Beautiful Soup, getting just the table in HTML format
### use Read_HTML to bring the table into a list of dataframes, then pull out the dataframe for the table so that it can be worked with directly
### Change the spelling of the column headers to those assigned by skipping the first row and setting the column headings manually

In [2]:
res = requests.get("http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find('table', attrs={ "class" : "wikitable sortable"})
df = pd.read_html(str(table),skiprows = 1)
boro_DF = df[0]
boro_DF.columns = ['PostalCode', 'Borough', 'Neighborhood']
boro_DF.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

### 3. Remove Borough 'Not assigned'

In [3]:
boro_DF_assigned = boro_DF[boro_DF.Borough != 'Not assigned']
boro_DF_assigned.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

### The assignment shows the dataframe index starting with 0 - reset it

In [4]:
boro_reset_DF = boro_DF_assigned.reset_index(drop=True)
boro_reset_DF.head(10)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Not assigned
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

### 4. Set any 'not assigned' neighborhood to the name of the borough

In [5]:
# define a function that accepts a row, checks the value of neighborhood and assigns the value from the borough column if the neighborhood is "not assigned"
def replace_na_neighborhood(row):
    if row['Neighborhood'] == 'Not assigned':
       row['Neighborhood'] = row['Borough'] 
    return row

In [6]:
# use the replace_na function to update the rows in the dataframe
boro_no_na_DF = boro_reset_DF.apply(replace_na_neighborhood, axis = 1)

In [7]:
boro_no_na_DF.head(10)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Queen's Park
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

## 5. Combine Neighborhoods by Postal Code
### In order to step through the dataframe, building the list of neighborhoods by postal code, 
### the dataframe must be sorted by postal code

In [46]:
sorted_boro_nona_DF = boro_no_na_DF.sort_values('PostalCode')
#sorted_boro_nona_DF.iloc[0:1, :]
sorted_boro_nona_DF.head(12)

   PostalCode      Borough          Neighborhood
8         M1B  Scarborough                 Rouge
9         M1B  Scarborough               Malvern
23        M1C  Scarborough            Port Union
22        M1C  Scarborough            Rouge Hill
21        M1C  Scarborough        Highland Creek
33        M1E  Scarborough             Guildwood
34        M1E  Scarborough           Morningside
35        M1E  Scarborough             West Hill
39        M1G  Scarborough                Woburn
43        M1H  Scarborough             Cedarbrae
54        M1J  Scarborough   Scarborough Village
66        M1K  Scarborough  East Birchmount Park

### now all the like postal codes are together
### the following loop simply reads each row of the dataframe, remembering the previous postal code
### if the new postal code is the same as the last one, it concatinates a comma and the new neighborhood name to the 
### saved neighborhood string
### when the postal code changes, it writes out a row to a new dataframe
### finally, when the loop ends, there's still data in the "save" fields, so that last new row is written

In [44]:
# rather than slow the following code down by making it check for the initial values on each iteration, 
# I decided to just go ahead and write a bad record the first time through, then remove it later.
# I also ruled out using the first row of the input as the initialization because I would have to add a condition 
# to make sure the first neighborhood was not repeated, and that would have to be checked on each iteration as well
# so, this code purposely writes ["A", "", ""] as the first output record, then moves on with less code.

output_DF = pd.DataFrame(columns = ['PostalCode', 'Borough', 'Neighborhood'])
save_pc = 'A'
save_nb = ''
save_bo = ''
for index, row in sorted_boro_nona_DF.iterrows():
    if row['PostalCode'] == save_pc:
        save_nb = save_nb + ', ' +row["Neighborhood"]
    else:
        output_DF = output_DF.append({
             "PostalCode": save_pc,
             "Borough":  save_bo,
             "Neighborhood": save_nb
              }, ignore_index=True)
        save_pc = row['PostalCode']
        save_bo = row['Borough']
        save_nb = row['Neighborhood']  
        
#write the final row out to the output dataframe
output_DF = output_DF.append({
             "PostalCode": save_pc,
             "Borough":  save_bo,
             "Neighborhood": save_nb
              }, ignore_index=True)

#now drop the first row ("A", "", "") while assigning the DF to a new usable name
compact_DF = output_DF.drop([0])
# and make the index column sensible
final_compact_DF = compact_DF.reset_index(drop=True)

In [45]:
final_compact_DF

,PostalCode,Borough,Neighborhood
0,M1B,Scarborough,"Rouge, Malvern"
1,M1C,Scarborough,"Port Union, Rouge Hill, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
5,M1J,Scarborough,Scarborough Village
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park"
7,M1L,Scarborough,"Golden Mile, Oakridge, Clairlea"
8,M1M,Scarborough,"Cliffcrest, Scarborough Village West, Cliffside"
9,M1N,Scarborough,"Cliffside West, Birch Cliff"
10,M1P,Scarborough,"Wexford Heights, Dorset Park, Scarborough Town..."
11,M1R,Scarborough,"Maryvale, Wexford"
12,M1S,Scarborough,Agincourt
13,M1T,Scarborough,"Sullivan, Clarks Corners, Tam O'Shanter"
14,M1V,Scarborough,"Milliken, Agincourt North, L'Amoreaux East, St..."
15,M1W,Scarborough,"Steeles West, L'Amoreaux West"
16,M1X,Scarborough,Upper Rouge
17,M2H,North York,Hillcrest Village
18,M2J,North York,"Fairview, Oriole, Henry Farm"
19,M2K,North York,Bayview Village
20,M2L,North York,"Silver Hills, York Mills"
21,M2M,North York,"Willowdale, Newtonbrook"
22,M2N,North York,Willowdale South
23,M2P,North York,York Mills West
24,M2R,North York,Willowdale West
25,M3A,North York,Parkwoods
26,M3B,North York,Don Mills North
27,M3C,North York,"Don Mills South, Flemingdon Park"
28,M3H,North York,"Wilson Heights, Downsview North, Bathurst Manor"
29,M3J,North York,"York University, Northwood Park"
...,...,...,...
73,M6C,York,Humewood-Cedarvale
74,M6E,York,Caledonia-Fairbanks
75,M6G,Downtown Toronto,Christie
76,M6H,West Toronto,"Dovercourt Village, Dufferin"
77,M6J,West Toronto,"Trinity, Little Portugal"
78,M6K,West Toronto,"Exhibition Place, Brockton, Parkdale Village"
79,M6L,North York,"North Park, Upwood Park, Maple Leaf Park"
80,M6M,York,"Silverthorn, Mount Dennis, Keelesdale, Del Ray"
81,M6N,York,"The Junction North, Runnymede"
82,M6P,West Toronto,"High Park, The Junction South"
83,M6R,West Toronto,"Roncesvalles, Parkdale"
84,M6S,West Toronto,"Runnymede, Swansea"
85,M7A,Queen's Park,Queen's Park
86,M7R,Mississauga,Canada Post Gateway Processing Centre
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
88,M8V,Etobicoke,"Humber Bay Shores, New Toronto, Mimico South"
89,M8W,Etobicoke,"Long Branch, Alderwood"
90,M8X,Etobicoke,"Old Mill North, Montgomery Road, The Kingsway"
91,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Humber Bay, ..."
92,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."
93,M9A,Etobicoke,Islington Avenue
94,M9B,Etobicoke,"Cloverdale, West Deane Park, Princess Gardens,..."
95,M9C,Etobicoke,"Old Burnhamthorpe, Markland Wood, Eringate, Bl..."
96,M9L,North York,Humber Summit
97,M9M,North York,"Humberlea, Emery"
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Richview Gardens, Kingsview Village, St. Phill..."
101,M9V,Etobicoke,"Beaumond Heights, Humbergate, Jamestown, Mount..."
102,M9W,Etobicoke,Northwest

### 6. instructions say to make the shape command the last cell of the workbook:

In [47]:
final_compact_DF.shape

(103, 3)